#scroll::-webkit-scrollbar {
    width: 48px; /*스크롤바의 너비*/
}

#scroll::-webkit-scrollbar-thumb {
    background-color: gray; /*스크롤바의 색상*/
    background-clip: padding-box;
    border: 18px solid transparent;
    border-radius: 50px;
}

#scroll::-webkit-scrollbar-track {
    background:none; /*스크롤바 트랙 색상*/
}
a, a:hover{
    text-decoration-line: none;
    color: black;
}